<div class="flex flex-col w-full min-h-full pr-[24px] gap-4 ">
    <div class="flex flex-row p-4 bg-white rounded-xl text-[#8E8E93] items-center justify-between">
        <div class="flex flex-row items-center gap-2">
            <i class="icon-[mdi--users] text-2xl"></i>
            <span class="font-bold text-lg">
                Users
            </span>
        </div>
        <div class="flex flex-row">
            <a routerLink="add" class="flex flex-row items-center rounded-full p-1">
                <i class="icon-[mdi--account-plus] text-2xl"></i>
            </a>
            <button title="Help" class="flex flex-row items-center rounded-full p-1">
                <i class="icon-[mdi--help-circle-outline] text-2xl"></i>
            </button>
        </div>
    </div>
    <div class="flex flex-col min-h-full w-full bg-white p-4 rounded-xl flex-grow"></div>
</div>
