<div class="flex flex-row w-full h-full pr-[24px] gap-6 flex-wrap text-[#8E8E93]">
    <div class="flex flex-col bg-white rounded-xl basis-[calc(50%-12px)] p-4">
        <div class="flex flex-row justify-between">
            <span class="font-bold text-xl">
                Last accessed configs
            </span>
            <div class="flex flex-row items-center">
                <button title="pause" class="flex flex-row items-center rounded-full p-1">
                    <i class="icon-[mdi--pause] text-2xl"></i>
                </button>
                <button title="Help" class="flex flex-row items-center rounded-full p-1">
                    <i class="icon-[mdi--help-circle-outline] text-2xl"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="flex flex-col bg-white rounded-xl basis-[calc(50%-12px)] p-4">
        <div class="flex flex-row justify-between">
            <span class="font-bold text-xl">
                Last configs not found
            </span>
            <div class="flex flex-row items-center">
                <button title="pause" class="flex flex-row items-center rounded-full p-1">
                    <i class="icon-[mdi--pause] text-2xl"></i>
                </button>
                <button title="Help" class="flex flex-row items-center rounded-full p-1">
                    <i class="icon-[mdi--help-circle-outline] text-2xl"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="flex flex-col bg-white rounded-xl basis-[calc(50%-12px)] p-4">
        <div class="flex flex-row justify-between">
            <span class="font-bold text-xl">
                Last modified configs
            </span>
            <div class="flex flex-row items-center">
                <button title="pause" class="flex flex-row items-center rounded-full p-1">
                    <i class="icon-[mdi--pause] text-2xl"></i>
                </button>
                <button title="Help" class="flex flex-row items-center rounded-full p-1">
                    <i class="icon-[mdi--help-circle-outline] text-2xl"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="flex flex-col bg-white rounded-xl basis-[calc(50%-12px)] p-4">
        <div class="flex flex-row justify-between">
            <span class="font-bold text-xl">
                Not used configs for last 30 days
            </span>
            <div class="flex flex-row items-center">
                <button title="pause" class="flex flex-row items-center rounded-full p-1">
                    <i class="icon-[mdi--pause] text-2xl"></i>
                </button>
                <button title="Help" class="flex flex-row items-center rounded-full p-1">
                    <i class="icon-[mdi--help-circle-outline] text-2xl"></i>
                </button>
            </div>
        </div>
    </div>
</div>
